
/*=================================
        STYLES FOR article
===================================*/

.news-image-wrap
{
    text-align: center;
}
.news-content-wrap
{
    margin-top: 12px;
    margin-bottom: 16px;
}