
/*=================================
        STYLES FOR download
===================================*/

.download-item-wrap
{
  list-style: none;
  max-width: 100%;
  min-width: 384px;
}
  .download-item-wrap .download-item
  {
    padding: 10px 0 10px 25px;
    line-height: 24px;
    background: #eee;
    margin: 1.2em auto;
    font-size: 16px;
  }